<!DOCTYPE html>
<html lang="en">

<head>
    <title>Leaflet Custom Context Menu</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <link rel="stylesheet" href="static/L.Control.Sidebar.css" />
    <link rel="stylesheet" href="static/sidebar_styles.css">
    <style>
        html,
        body {
            height: 100%;
            margin: 0;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

        #map {
            height: 100%;
        }

        .context-menu {
            display: none;
            position: absolute;
            color: #c0beb6;
            background-color: rgba(52, 52, 52, 0.4);
            border: 1px solid #c0beb6;
            z-index: 1000;
            min-width: 150px;
            border-radius: 8px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(163, 163, 163, 0.1);
        }

        .context-menu-item {
            cursor: pointer;
            padding: 8px 10px;
        }

        .context-menu-item:hover {
            background-color: rgba(117, 117, 117, 0.1);
        }

        .leaflet-container {
            background: #262626;
        }

        .info {
            padding: 10px 12px;
            margin: 12px;
            font: 14px/16px Arial, Helvetica, sans-serif;
            color: #c0beb6;
            background-color: rgba(52, 52, 52, 0.4);
            border: 1px solid #c0beb6;
            z-index: 1000;
            min-width: 150px;
            border-radius: 8px;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
            border: 1px solid rgba(163, 163, 163, 0.1);
        }

        .info h4 {
            margin: 0 0 5px;
            color: #b2b2b2;
        }
    </style>
</head>

<body>
    <div id="sidebar">
        <h1>E-bike routing Metro Manila</h1>

        <p>A shortest path routing application on <a href="http://leafletjs.com/">LeafletJS</a> interactive maps.</p>

        <p><b>Click on the map.</b></p>

        <p>Technologies:</p>

        <ul>
            <li><a href="https://flask.palletsprojects.com/en/3.0.x/">Flask</a></li>
            <li><a href="https://osmnx.readthedocs.io/en/stable/">OSMnx</a></li>
        </ul>

        <p class="lorem">This web application is designed to streamline your E-bike commutes and explorations within
            Metro Manila. Utilizing Dijkstra's algorithm the shortest path is provided for E-bikes, considering the MMDA
            Regulation No. 24-022 prohibiting e-bikes from travelling on national roads, circumferential roads, and
            radial roads in all cities of NCR starting April 2024..</p>

        <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

        <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
            ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
            dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
            magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
            kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

    </div>

    <button id="sidebarToggle"> </button>

    <div id="map"></div>
    <div id="context-menu" class="context-menu">
        <div class="context-menu-item context-menu-coords" id="coordinates"></div>
        <div class="context-menu-item" id="directions-from">Directions from here</div>
        <div class="context-menu-item" id="directions-to">Directions to here</div>
    </div>
    <script>
        var map = L.map('map').setView([14.6091, 121.0223], 12);
        var layer = L.tileLayer('https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 20
        }).addTo(map);
    </script>
    <script>
        // Add Leaflet custom control
        var info = L.control();
        info.onAdd = function (map) {
            this._div = L.DomUtil.create('div', 'info'); // create a div with a class "info"
            this.update();
            return this._div;
        };

        info.update = function (props) {
            this._div.innerHTML = '<h4>Shortest path</h4>'

            if (props) {
                this._div.innerHTML += '<b>' + props + '</b>' + ' km '
            } else if (props === false) {
                this._div.innerHTML += 'No route found'
            } else {
                this._div.innerHTML += 'Choose your destination'
            }
        };

        info.addTo(map);

        // Add prohibited roads to the map
        var prohibitedEdges = {{ prohibited_edges_geojson| safe }};

        L.geoJSON(prohibitedEdges, {
            style: function (feature) {
                return {
                    color: "#3d3d47",
                    weight: 2,
                    opacity: 0.8,
                    smoothFactor: 2
                };
            }
        }).addTo(map);
    </script>

    <script>
        // Function to fetch and add GeoJSON data to the map
        var ncr_geojson = 'https://raw.githubusercontent.com/faeldon/philippines-json-maps/master/2023/geojson/regions/medres/provdists-region-1300000000.0.01.json'

        function addLandBoundary(url) {
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    L.geoJSON(data, {
                        // Add some styling for the land boundary
                        style: function (feature) {
                            return {
                                'fillColor': '#190e16',
                                'weight': 0,
                                'fillOpacity': 0.15
                            }
                        }
                    }).addTo(map);
                })
                .catch(error => console.error('Error loading GeoJSON:', error));
        }

        addLandBoundary(ncr_geojson);
    </script>

    <script>
        const contextMenu = document.getElementById('context-menu');
        const coordsElement = document.getElementById('coordinates');

        let sourceCircleMarker, destMarker;
        let clickCoordinates, sourceCoordinates, targetCoordinates;
        let currentPolyline;
        let polyLineGroup = L.layerGroup(); // Multiple polylines for a single path to have gradient
        const polyLines = [
            { color: '#380818', weight: 14 },
            { color: '#4d0727', weight: 12 },
            { color: '#b45513', weight: 9, opacity: 0.7 },
            { color: '#b45513', weight: 8 },
            { color: '#fdd036', weight: 5, opacity: 0.9 },
            { color: '#fcfac4', weight: 3, opacity: 0.95 },
            { color: '#ffffff', weight: 1 }
        ];

        // Context menu 
        map.on('contextmenu', function (e) {
            e.originalEvent.preventDefault();
            clickCoordinates = {
                lat: e.latlng.lat,
                lng: e.latlng.lng
            };
            coordsElement.textContent = `${clickCoordinates.lat.toFixed(5)}, ${clickCoordinates.lng.toFixed(5)}`;

            // Display the menu on event click position
            contextMenu.style.display = 'block';
            contextMenu.style.left = `${e.containerPoint.x}px`;
            contextMenu.style.top = `${e.containerPoint.y}px`;
        });

        // Hide context menu when click or move
        map.on('click move', function () {
            contextMenu.style.display = 'none';
        });

        // Directions-from and Directions-to listeners
        document.getElementById('directions-from').addEventListener('click', function () {
            sourceCoordinates = clickCoordinates
            contextMenu.style.display = 'none'
            // Add marker here

            mapRoute()
        });

        document.getElementById('directions-to').addEventListener('click', function () {
            targetCoordinates = clickCoordinates
            contextMenu.style.display = 'none'
            // Add marker here

            mapRoute()
        });

        function mapRoute() {
                if (polyLineGroup) {
                    map.removeLayer(polyLineGroup);
                    polyLineGroup.clearLayers();
                }

                // Remove existing markers if they exist
                if (sourceCircleMarker) map.removeLayer(sourceCircleMarker);
                if (destMarker) map.removeLayer(destMarker);

                // Only run the route when both Source and Target coordinates are present
                if (sourceCoordinates && targetCoordinates) {

                    fetch('/process_coords', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            sourceLat: sourceCoordinates.lat,
                            sourceLng: sourceCoordinates.lng,
                            targetLat: targetCoordinates.lat,
                            targetLng: targetCoordinates.lng
                        })
                    })
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);

                            if (data.path === null) {
                                info.update(false)
                            }
                            else {
                                // Multiple polylines with different weights and colors to create gradient effect
                                polyLines.forEach(style => {
                                    const polyline = new L.Polyline(data.path, style)

                                    // Change polyline weight on hover
                                    polyline.on('mouseover', function (e) {
                                        e.target.setStyle({
                                            color: '#0c0a0b'
                                        })
                                    })

                                    polyline.on('mouseout', function (e) {
                                        e.target.setStyle(style)
                                    })

                                    polyline.on('click', function (e) {
                                        map.fitBounds(e.target.getBounds());
                                    });
                                    polyline.addTo(polyLineGroup)
                                });

                                polyLineGroup.addTo(map);

                                info.update((data.length / 1000).toFixed(2))
                            }
                        })
                        .catch(error => console.error('Error:', error));

                    // Add new markers
                    sourceCircleMarker = L.circleMarker([sourceCoordinates.lat, sourceCoordinates.lng], { color: 'white' }).addTo(map);
                    destMarker = L.marker([targetCoordinates.lat, targetCoordinates.lng], {
                        icon: L.icon({
                            iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                            iconSize: [25, 41],
                            iconAnchor: [12, 41],
                            popupAnchor: [1, -34],
                            shadowSize: [41, 41]
                        })
                    }).addTo(map);
                }
        }
    </script>
    <script src="static/L.Control.Sidebar.js"></script>
    <script src="static/button_toggle_visibility_sidebar.js"></script>
</body>

</html>